doctype html
html(lang=language)
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='description', content=description)
    meta(name='keywords', content=keywords)
    meta(name='robots', content='index,follow')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/' + pathPrefix + 'favicon.ico?v=2')

    - if (language === baseLanguage) 
      link(rel='stylesheet', href='style/main.css', media='all')
      //link(rel='stylesheet', href='style/print.css', media='print')
      <!-- [if lt IE 9]>
      <script src='javascript/html5.js'></script>
      <![endif]-->
    - else
      link(rel='stylesheet', href='../style/main.css', media='all')
      //link(rel='stylesheet', href='../style/print.css', media='print')
      <!-- [if lt IE 9]>
      <script src='../javascript/html5.js'></script>
      <![endif]-->
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44399668-1', 'auto');
      ga('send', 'pageview');


  body

    // Navigation
    nav(id='nav-main')
      div(class='tag') Language: 
        span(class='current-language')
      ul(id='nav-languages')
        - each lang in languages
          li(class=lang.id === language ? 'active' : '')
            - if (lang.id === baseLanguage)
              a(href= '/' + pathPrefix, title=lang.title) #{lang.native}

            - else
              a(href= '/' + pathPrefix + lang.id, title=lang.title) #{lang.native}
      ul(id='nav-titles')
        - each section in navigation
          li(class='nav-' + section.link)
            a(href='#' + section.link)!=section.article.title

    // Navigation-button
    div(id='nav-bar')
      div(id='nav-button')
        svg(class='menu-icon', width='30', height='20', viewPort='0 0 20 20', version='1.1', xmlns='http://www.w3.org/2000/svg')
          rect(x='0', y='0', width='30', height='4')
          rect(x='0', y='8', width='30', height='4')
          rect(x='0', y='16', width='30', height='4')
    
    // header
    header
      h1 <span>~$</span> echo "<span class="title">#{title}</span>"
  
    //Sections
    div(id='content')
      - each section in sections
        article(id=section.link)
          h1!=section.article.title
            a(href=section.sourceURL) #
          section!=section.article.content

    //Footer
    footer
      p 
        | Built with 
        a(href='http://nodejs.org/') Node.js 
        | using a 
        a(href='http://jade-lang.com/') jade 
        | template. 
        | Hosted by 
        a(href='http://https://github.com/') Github
        |. 
        a(href='https://github.com/ververcpp/Shell13Q') Fork 
        | me on Github.



    - if (language === baseLanguage)
      script(src='javascript/jquery.min.js')
      script(src='javascript/prettify.js')
      script(src='javascript/main.js')
    - else 
      script(src='../javascript/jquery.min.js')
      script(src='../javascript/prettify.js')
      script(src='../javascript/main.js')


      






    